<div class="table-header"><div class="table-header r"><div class="table-header m"><h2>Tapahtumatyypin tiedot: <%= @occasion_type.name %></h2></div></div></div>
<div class="border">
<div id="buttonbar">
	<%= link_to 'Muokkaa tietoja', edit_occasion_type_path(:id => @occasion_type) %>
	<%= link_to 'Uusi tapahtumatyyppi', new_occasion_type_path %>	
</div>

<p><strong>Näkyvyys: </strong><%= @occasion_type.getOptionsForSelectList(:visibility).index(@occasion_type.visibility) %></p>
</div>