<div id="buttonbar">
	<%= link_to 'Muokkaa tietoja', edit_occasion_type_path(:id => @occasion_type) %>
</div>
<h2>Tapahtumatyypin tiedot: <%= @occasion_type.name %></h2>

<p><strong>Näkyvyys: </strong><%= @occasion_type.getOptionsForSelectList(:visibility).index(@occasion_type.visibility) %></p>
