<div class="table-header"><div class="table-header r"><div class="table-header m">
<h2>Yhteenveto</h2>
</div></div></div>
<div class="border">

<p>
Lis채ttyjen tapahtumien m채채r채: <%= session[:import][:occasions].count %> kpl.
</p>

</div>
