body {
	
}

.calendar {
  width: 98%;
  background-color: white;
  /* border: 2px gray solid;*/
  table-layout:fixed;

}

.monthName {
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.7em;
}

.dayName th {
  width: 14%;
  font-size: 0.7em;
  padding-top: 0.6em;
  padding-bottom: 0.3em;

  text-align: center;
  background: #2089b6;
  color: white;
}

.otherMonth {
  vertical-align: top;
  color: #eeeeee;
  border-bottom: 1px dotted #bbbbbb;
  border-left: 1px dotted #bbbbbb;
  border-right: 1px dotted #bbbbbb;  
  background-color: white;
}

.day, .specialDay {
  height: 60px;
  vertical-align: top;
  border-bottom: 1px dotted #bbbbbb;
  border-left: 1px dotted #bbbbbb;
  border-right: 1px dotted #bbbbbb;
}

.day a, .day a:visited, .day a:hover {
  display: block;
  color: black;
  text-decoration: none; 
  font-size: 0.9em;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}



.weekendDay {
  background-color: #ffffdd;
}

.today {
    border: 1px black solid;
    background-color: #FFFAAA;
}