<div class="table-header"><div class="table-header r"><div class="table-header m"><h2>Ulkoasumallit</h2></div></div></div>
<div class="border">
  
<div id="buttonbar">
<%= link_to 'Muokkaa', edit_ui_template_path(:id => @ui_template) %>
</div>
<p>
  <b>Nimi:</b>
  <%=h @ui_template.name %>
</p>

</div>
