<% if !['users'].include?(params[:controller]) || !['index'].include?(params[:action])%>
<% if !current_user.nil? && current_user.user_level <= 10 %>
<li><%= link_to 'Käyttäjät', :controller => 'users', :action => 'list' %></li>				
	<% if current_user.user_level <= 5 %>
		<li><%= link_to 'Yhdistykset', customers_path %></li>
	<% else %>
		<li><%= link_to 'Yhdistyksen tiedot', customer_path(:id => current_user.customer_id) %></li>
	<% end %>
<% end %>
<% end %>