<h2>Uusi yhdistys</h2>

<% form_for :new_customer, :url => customers_path do |f| -%>
  <%= f.error_messages %>

<p><%= label_tag 'name', 'Nimi' %>
<%= f.text_field :name %></p>

  <p>
    <%= f.submit "Tallenna" %>
  </p>
<% end %>	
