<div class="table-header">
  <div class="table-header r">
    <div class="table-header m">
      <h2>Valikko</h2>
    </div>
  </div>
</div>
<div class="border">

  <p>Voit vaihtaa valikon järjestystä hiirellä raahaamalla. Valikon ensimmäinen sivu näytetään nettisivuilla oletussivuna.</p>
  <p>&nbsp</p>

  <%= render :partial => "menu_list", :object => @pages %>
  <div>&nbsp</div>

</div>
