<%= calendar(:year => @date.year, :month => @date.month, :first_day_of_week => 1,:abbrev => 0..1 ) do |d|
	cell_text = "<span class='day_number'>#{d.mday}</span>"
    cell_text += "<span class='add_event_link'>"
    cell_text += link_to image_tag("11.png", :border=>0), new_occasion_path(:occasion_date => "#{d.year}-#{d.month}-#{d.day}"), {:id => "date_#{d.mday}_#{d.month}_#{d.year}"}
    cell_text += "</span><div>"   

	@occasions.each do |e|
		if e.start_time.strftime("%Y-%m-%d") == d.strftime("%Y-%m-%d")
			@e = e
			case e.state
				when 10: cell_text += "<draft>"
				when 30: cell_text += "<cancelled>"
			end

                        unless e.start_time.strftime("%H:%M") == "00:00"
                          time = e.start_time.strftime("%H:%M") + " - "
                        else
                          time = ""
                        end

                        cell_text += link_to time + e.name + "<br />", edit_occasion_path(:id => e, :start_date => e.start_time), {:id => "tooltip_link_" + e.id.to_s}
			case e.state
				when 10: cell_text += "</draft>"
				when 30: cell_text += "</cancelled>"
			end
			cell_text += tooltip :name => '', :partial => 'tooltip', :id => e.id
		end
	end

	cell_text += "</div></span>"
end

%>

<br />
