<%= calendar(:year => @date.year, :month => @date.month, :first_day_of_week => 1,:abbrev => 0..1) do |d|
	cell_text = "<span class='day_number'>#{d.mday}</span><small>"
	cell_text += link_to image_tag("11.png", :border=>0), new_occasion_path(:occasion_date => "#{d.year}-#{d.month}-#{d.day}"), {:style => "display: none;",:id => "date_#{d.mday}_#{d.month}_#{d.year}"}
	cell_text += "<div>"
	cell_attrs = {:class => 'day', :onMouseOver => "document.getElementById('date_#{d.mday}_#{d.month}_#{d.year}').show();",
       :onMouseOut => "document.getElementById('date_#{d.mday}_#{d.month}_#{d.year}').hide();"}

	@occasions.each do |e|
		if e.start_time.strftime("%Y-%m-%d") == d.strftime("%Y-%m-%d")
			@e = e
			case e.state
				when 10: cell_text += "<em>"
				when 30: cell_text += "<s>"
			end
			cell_text += link_to e.start_time.strftime("%H:%M") + " - " + e.name + "<br />", edit_occasion_path(:id => e), {:id => "tooltip_link_" + e.id.to_s}
			case e.state
				when 10: cell_text += "</em>"
				when 30: cell_text += "</s>"
			end
			cell_text += tooltip :name => '', :partial => 'tooltip', :id => e.id
		end
	end
	cell_text += "</div></small>"
	[cell_text, cell_attrs]
end
%>

<br />