<div id="buttonbar">
	<%= link_to 'Muokkaa tietoja', edit_location_path(:id => @location) %>
	<%= link_to 'Uusi paikka', new_location_path %>	
</div>
<h2>Paikan tiedot: <%= @location.name %></h2>

<p><strong>Osoite: </strong><%= @location.address %></p>
