<div class="table-header"><div class="table-header r"><div class="table-header m"><h2>Kuvat</h2></div></div></div>
<div class="border">

<table>
  <thead>
  	<tr>
		<th>Kuva</th>
		<th>Hakemistopolku</th>
		<th>&nbsp;</th>
	</tr>
  </thead>

<tbody>
  <% for graphic in @graphics %>
  <tr class="<%= cycle("even", "odd") %>">
	<td><%= image_tag(graphic.public_filename) %><br /></td>
	<td><%= graphic.public_filename %></td>
    <td><%= link_to 'Poista', graphic_path(:id => graphic), :confirm => 'Oletko varma?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
<br />

</div>