<div class="table-header"><div class="table-header r"><div class="table-header m"><h2>Ulkoasun muokkaus <%=@layout.name %></h2></div></div></div>
<div class="border">

  <%= crumbs %>

<% form_for( :layout, :url => layout_path(:id => @layout), :html => {:method => :put}) do |f| %>

    <%= render :partial => 'form', :locals => {:f => f} %>
  
  <p>
    <%= f.submit 'Päivitä' %>
  </p>
<% end %>

</div>

