<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Untitled Document</title>
	</head>
	<body>
	</body>
</html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi">
<head>
	
	
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
			<link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" media="screen" />		
<link rel="stylesheet" type="text/css" href="/stylesheets/local.css" media="screen" />			
			<!-- link rel="stylesheet" type="text/css" href="/static/public/css/print.css" media="print" / -->
		
		<script type="text/javascript" src="/static/public/js/jquery.min.js"></script>
		<script type="text/javascript"> 
	 	<!-- 
	 	    $(document).ready(function () { 
	 	        $('#ohjeteksti-linkki,#ohjeteksti').click(function() {
					$('#ohjeteksti').toggle();
					return false;
	 	        });
			}); 
		-->
		</script> 
	
	<link rel="alternate" href="?&amp;rss=1" type="application/rss+xml" title="RSS" />

    <title>Maitoisten leirikeskus - Leirit</title>
</head>

<body>
	<div id="testmenu">
		<ul>
			
			<li>Testiversio (ver. <b>474
</b>)</li>
			<li><a href="/testaus/versiohistoria/" target="_blank">Versiohistoria</a></li>

			<li><a href="/testaus/ohjeet/" target="_blank">Testausohjeet</a></li>
			<li><a href="/testaus/palautelomake/" target="_blank">Palautelomake</a></li>
		</ul>
	</div>
	<div id="container">
		
 		<div id="header">
			
				
	
		<img class="logo" src="/static/public/uploaded/yla_logo/srk.jpg" title="Maitoisten leirikeskus" />
	

				<h1>Maitoisten leirikeskus - Leirit</h1>

				
					<ul>
						<li><a class="koti" href="/">Etusivulle</a></li>
						<li><a class="print" href="javascript:window.print();">Tulosta</a></li>
						<li><a id="ohjeteksti-linkki" class="ohje" href="?ohje=nayta#ohjeteksti">Ohje</a></li>
					</ul>
				
			
		</div>
		
		
		<div id="content">

			<div id="ohjeteksti" style="display: none;">
				<a name="ohjeteksti"></a>
				<div class="header"><div class="header r"><div class="header m">Ohjeita</div></div></div>
				<div class="border">
					
	<p>Tällä sivulla haetaan kursseja ja leirejä. Sivun oikeassa laidasta valitaan hakuehdot.</p>

				</div>
			</div>

			<div class="breadcrumbs"></div>
			
			
			
			
	<div class="header"><div class="header r"><div class="header m">Hakuehdot</div></div></div>
	<div class="border">
		
		<ul>
			<li>
				<b>Leirikeskus:</b> 
				
					Maitoisten leirikeskus
				
			</li>
			
			
		</ul>

	</div>

	<div style="float: left; width: 630px;">
		<div class="header"><div class="header r"><div class="header m">Tulevia leirejä</div></div></div>
		<div class="border">
			<table style="width:100%;" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th>Ajankohta</th>

			<th>nimi</th>
			
			<th>Ilmoittautuminen</th>
		</tr>
	</thead>
	<tbody>
	
		
			<tr class="row">
				<td>2. - 4.10.</td>

				<td><a href="73/">7. Nuorisoleiri 8-12 v.</a></td>
				
				<td>
					
						
							Sulkeutunut
						
					
				</td>
			</tr>
		
			<tr >
				<td>9. - 11.10.</td>
				<td><a href="74/">1. Vartt.nuorten leiri, 16-20 v.</a></td>

				
				<td>
					
						
							Sulkeutunut
						
					
				</td>
			</tr>
		
			<tr class="row">
				<td>9. - 11.10.</td>
				<td><a href="75/">3. Isät ja pojat leiri, Noormarkussa</a></td>
				
				<td>

					
						
							Sulkeutunut
						
					
				</td>
			</tr>
		
			<tr >
				<td>11. - 12.10.</td>
				<td><a href="76/">Kanttoreiden leiri</a></td>
				
				<td>
					
						
							Sulkeutunut
						
					
				</td>

			</tr>
		
			<tr class="row">
				<td>16. - 18.10.</td>
				<td><a href="77/">2. Vartt.nuorten leiri, yli 15 v., Pirkanmaalla Kukkolassa</a></td>
				
				<td>
					
						
							<a href="77/ilmoittautuminen/">Ilmoittaudu</a>
						
					
				</td>

			</tr>
		
			<tr >
				<td>16. - 18.10.</td>
				<td><a href="78/">Leiri rippikoulunkäyneille, Noormarkussa</a></td>
				
				<td>
					
						
							<a href="78/ilmoittautuminen/">Ilmoittaudu</a>
						
					
				</td>

			</tr>
		
			<tr class="row">
				<td>16. - 18.10.</td>
				<td><a href="79/">8. Nuorisoleiri 12-14 v.</a></td>
				
				<td>
					
						
							<a href="79/ilmoittautuminen/">Ilmoittaudu</a>
						
					
				</td>

			</tr>
		
			<tr >
				<td>23. - 25.10.</td>
				<td><a href="80/">5. Aviopuolisoleiri, nuoret aviopuolisot</a></td>
				
				<td>
					
						
							<a href="80/ilmoittautuminen/">Ilmoittaudu</a>
						
					
				</td>

			</tr>
		
			<tr class="row">
				<td>30.10. - 1.11.</td>
				<td><a href="81/">6. Aviopuolisoleiri</a></td>
				
				<td>
					
						
							<a href="81/ilmoittautuminen/">Ilmoittaudu</a>
						
					
				</td>

			</tr>
		
			<tr >
				<td>13. - 15.11.</td>
				<td><a href="82/">7. Aviopuolisoleiri, nuoret aviopuolisot</a></td>
				
				<td>
					
						
							<a href="82/ilmoittautuminen/">Ilmoittaudu</a>
						
					
				</td>

			</tr>
		
			<tr class="row">
				<td>20. - 22.11.</td>
				<td><a href="83/">9. Nuorisoleiri 12-14 v.</a></td>
				
				<td>
					
						
							<a href="83/ilmoittautuminen/">Ilmoittaudu</a>
						
					
				</td>

			</tr>
		
			<tr >
				<td>27. - 29.11.</td>
				<td><a href="84/">Vartt.nuorten leiri, 16-20 v.</a></td>
				
				<td>
					
						
							<a href="84/ilmoittautuminen/">Ilmoittaudu</a>
						
					
				</td>

			</tr>
		
			<tr class="row">
				<td>4. - 6.12.</td>
				<td><a href="85/">Aikuistenleiri</a></td>
				
				<td>
					
						
							<a href="85/ilmoittautuminen/">Ilmoittaudu</a>
						
					
				</td>

			</tr>
		
			<tr >
				<td>24. - 26.12.</td>
				<td><a href="86/">Joululeiri</a></td>
				
				<td>
					
						
							Avautuu 25.10.2009
						
					
				</td>
			</tr>

		
	
	</tbody>
</table>

		</div>
		<div class="submit-row clear">
			<a class="button edellinen" href="/">Palaa etusivulle</a>
		</div>
	</div>
	
	<div id="filter" style="float:right; width: 150px;">

		<div class="header"><div class="header r"><div class="header m" ><p class="etsi">Haku</p></div></div></div>
		<div class="border" style="background: #fff; padding: 5px;">
			<h2>Teemat</h2>	
			<ul>
			
				<li><a href="?teema=6">Kieli</a></li>
			
				<li><a href="?teema=7">Loma</a></li>
			
				<li><a href="?teema=8">Luonto</a></li>

			
				<li><a href="?teema=9">Raamattu</a></li>
			
				<li><a href="?teema=10">Rippikoulu</a></li>
			
				<li><a href="?teema=11">Talkoo</a></li>
			
				<li><b>Kaikki</b></li>
			</ul>

			<h2>Kohderyhmät</h2>	
			<ul>

			
				<li><a href="?kohderyhma=1">Lapset</a></li>
			
				<li><a href="?kohderyhma=2">Nuoret</a></li>
			
				<li><a href="?kohderyhma=3">Aikuiset</a></li>
			
				<li><a href="?kohderyhma=4">Aviopuolisot</a></li>
			
				<li><a href="?kohderyhma=5">Perheet</a></li>
			
				<li><b>Kaikki</b></li>

			</ul>
			
			<h2>Leirikeskukset</h2>
			<ul>
			
				<li><b>Maitoinen</b></li>
			
				<li><a href="/leiri/hankasalmi/">Hankasalmi</a></li>
			
				<li><a href="/leiri/kallio/">Kallio</a></li>
			
				<li><a href="/leiri/siikatorma/">Siikatörmä</a></li>

			
				<li><a href="/leiri/kuusamo/">Kuusamo</a></li>
			
				<li><a href="/leiri/rautiosaari/">Rautiosaari</a></li>
			
				<li><a href="../">Kaikki</a></li>
			</ul>
		</div>
	</div>


			
			<div class="clear"></div>
		</div>
		<div id="footer">
			© 2009 Kurssit ja leirit.
		</div>
	</div>
</body>
</html>
