<div class="table-header"><div class="table-header r"><div class="table-header m"><h2>Uusi jäsen</h2></div></div></div>
<div class="border">

    <%= crumbs %>

<% form_for :member, :url => members_path do |f| -%>

<%= render :partial => 'form', :locals => {:f => f} %>
  
  <p>
    <%= f.submit 'Tallenna' %>
  </p>
<% end %>

</div>